## Comment
.DS_Store
notes/*
notes.txt
test/*
AngularJS/*
Depot_haml/*
FourScore/*
HomeworkTracker-design/*
Pub/*
Que/*
Ques_v7_errors/
RailsAngularTemplate/*
RailsTemplate/*
angular.txt
assets/*
hometrack/*
ht/*