<h2>About Brian Boyd</h2>

<p>Brian was born in Chicago, IL, and spent most of his childhood in the beautiful mountains of West Virginia where he enjoyed hiking, camping, and spending time with friends. He has called many places home, from Jacksonville, FL to Brooklyn, NY to Atlanta, GA. He settled in Charleston, SC in 2006 and lives on James Island with his lovely wife Helen and daughter Isabel.</p>

<p>Spending time with his family is the most important thing to him. Together, they enjoy the sand at Folly Beach, playing at the park, riding bicycles, traveling to nowhere in particular, or just sitting at home.</p>

<p>Although his score after a round of golf is usually in the triple digits (occasionally dipping in the 2-digit realm), he enjoys the game just as much as any scratch golfer. Indoors, he loves playing the game SimCity, as the city-building computer game allows him to sharpen his logic and planning skills. Brian’s fascination with computers and technology has led him to pursue a career in that field.</p>

<p>Brian has traveled all over the globe for business and pleasure, learning about various cultures and meeting people along the way. He’s able to strike up a conversation easily and connect with people he meets. To Brian, no one is a stranger.</p>