<form role="form">
  <fieldset>
    <legend>Delete Post</legend>
    <div class="form-group">
      <p>Are you sure you wish to delete the following post?</p>

      <div class="blog-post">
        <h2 class="blog-post-title">Sample blog post</h2>
        <p class="blog-post-meta"><i class="glyphicon glyphicon-calendar"></i> January 1, 2014</p>
        <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary pull-right">Delete Post</button>
    </div>
  </fieldset>
</form>