      <div class="sidebar-module sidebar-module-inset">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="http://cubicalweb.com" target="_blank">Personal Website</a></li>
          <li><a href="https://github.com/Brian-Boyd" target="_blank">GitHub</a></li>
          <li><a href="https://www.linkedin.com/pub/brian-boyd/23/bba/bb6" target="_blank">LinkedIn</a></li>
          <li><a href="https://www.youtube.com/user/SimCityBrian" target="_blank">YouTube</a></li>
          <li><a href="https://twitter.com/SimCityBrian" target="_blank">Twitter</a></li>
        </ol>
      </div>