%h1 List of Locations

/ %p#notice= notice

%table
  %tr
    %th Name

  - @locations.each do |location|
    %tr
      %td= link_to location.name, location

%br

= link_to 'New Location', new_location_path
%p
= link_to 'Home', root_path