      <div class="footer-logo"></div>
      <div class="footer-copyright">
        &copy; 2014 The Ironyard Student.<br>All Rights Reserved.
      </div>
      <div class="footer-right">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="services">Services</a></li>
        </ul>
      </div>