      <div class="nav-left">
        <ul>
          <li><a href="/" class="nav-list-item">Home</a></li>
          <li><a href="/about" class="nav-list nav-list-item">About Us</a></li>
          <li><a href="/services" class="nav-list nav-list-item">Our Services</a></li>
        </ul>
      </div>
      <div class="nav-right">
        <form id="search-blog" method="get"
          action="">
            <input type="search" />
            <input type="submit" value="Search" />
        </form>
      </div>