      <div class="boxshadow">
        <div class="color"><h3>DIG SOUTH Space Walk</h3></div>
        <p>One of the coolest things about being in Charleston is that, once spring hits, there is an awesome event happening almost every weekend. This week is one of the year's best: DIG SOUTH.  Last night, many of our 23 ridiculously hard-working students took a break from their mind-numbing coding homework and set out with me to explore the CHS tech community.  It was a great reminder of what they are working towards and an opportunity to start to build connections in the community.  I think everyone had a great time, and we all felt refreshed mentally (if not physically) this morning, ready for another hard day of learning.</p>
      </div>
      <div class="boxshadow">
        <div class="color"><h3>It's Never Too Late</h3></div>
        <p>hjtj js rtyjutr uratuj a6u artujaru u4a uau auurtajratu hjtj js rtyjutr uratuj a6u artujaru u4a uau auurtajratu hjtj js rtyjutr uratuj a6u artujaru u4a uau auurtajratu hjtj js rtyjutr uratuj a6u artujaru u4a uau auurtajratu hjtj js rtyjutr uratuj a6u artujaru u4a uau auurtajratu hjtj js rtyjutr uratuj a6u artujaru u4a uau </p>
      </div>