/*border: 1px dashed blue;*/

* {
  vertical-align: top;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background: url("../img/bg.jpg") no-repeat 0 0;
  /*background: url("../img/bg.jpg") no-repeat fixed 0 0 #CCC;*/
  margin: 0;
}

/*****************/
/* COMMON STYLES */
/*****************/

.container {
  width: 1000px;
  min-height: 800px;
  margin: 0 auto;
}

.transparent {
  background:#7f7f7f;
  background:rgba(100,100,100,0.7);
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.img-responsive {
  height: auto;
  max-width: 100%;
  float: left;
}

/*****************/
/* HEADER STYLES */
/*****************/

header {
  width: 100%;
  height: 520px;
  margin: 0;
}

.header-left{
  width: 400px;
  height: 100px;
  position: relative;
  left: 5px;
  top: 5px;
  display: inline-block;
}

.header-right {
  width: 400px;
  height: 100px;
  position: relative;
  left: 186px;
  top: 5px;
  display: inline-block;
}

#top-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
}

#top-nav ul li { 
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px;
}

#top-nav ul li a {
text-decoration: none;
}

.header-title {
  width: 1000px;
  height: 100px;
  margin-top: 100px;
  text-align: center;
  display: inline-block;
}

.yellow-text {
  color: #FFF605;
}

.sub-header {
  text-align: center;
  margin-top: 0;
}

.large-heading {
  font-size: 3em;
  font-weight: bold;
}

/******************/
/* CONTENT SYTLES */
/******************/

article, aside {
  min-height: 1000px;
}

article, aside, .sidebox {
  display: inline-block;
}

article {
  width: 650px;
  padding-right: 50px;
}

aside {
  width: 294px;
}

.sidebox {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #A4B0C8;
}

.sidebar-text {
  padding: 0 15px;
}

.face-small-round {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.comment-buttons {
  width: 650px;
  display: inline-block;
}

#buttons ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#buttons ul li { 
  display: inline;
  margin: 10px;
  padding: 5px 10px 5px 25px;
  background-color: red;
  border: 1px solid black;
}

.comment-icon, .read-icon, .share-icon {
  padding-left: 10px;
  background-repeat: no-repeat;
  background-position: 5px .4em;
}

.comment-icon {
  background-image: url(../img/comment-icon.png);
}

.read-icon {
  background-image: url(../img/read-icon.png);
}

.share-icon {
  background-image: url(../img/share-icon.png);
}

.shadow {
  -moz-box-shadow:    0px 5px 3px 0px #ccc;
  -webkit-box-shadow: 0px 5px 3px 0px #ccc;
  box-shadow:         0px 5px 3px 0px #ccc;
}

blockquote.quote {
  font-size: 2.5em;
  padding-left: 3px;
  border-left: 3px solid #ccc
}

.cool-img, .right-img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

.right-img {
  margin: 0 auto;
  margin-top: 15px;
}

.social {
  font-size: .8em;
  font-style: italic;
}

.cool2-img, .right2-img {
  width: 296px;
  height: 296px;
}

.right2-img {
  margin: 0 auto;
}

/*****************/
/* FOOTER STYLES */
/*****************/

.footer {
  width: 100%;
  height: 100px;
  background-color: #B68036;
}

.footer-right ul {
  list-style-type: none;
  text-align: right;
}

.footer-right ul li { 
  display: inline;
}

.footer-logo{
  width: 80px;
  height: 80px;
  background-image: url('../img/tiy-logo.png');
  position: relative;
  left: 70px;
  top: 5px;
  display: inline-block;
}

.footer-copyright {
  width: 200px;
  height: 50px;
  font-size: .8em;
  font-style: italic;
  position: relative;
  left: 80px;
  top: 30px;
  display: inline-block;
}

.footer-right {
  width: 450px;
  height: 50px;
  position: relative;
  top: 35px;
  /*left: 380px;*/
  right: 0;
  display: inline-block;
  /*float: right;*/
}
