
<% @posts.each do |post| %>
  <%= erb :post, { locals: {post: post}} %>  
<% end %>
      
      <ul class="pager">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
      </ul>
