      <div class="blog-post">
        <h2 class="blog-post-title"><%= @post.title %></h2>
        <p class="blog-post-meta"><i class="glyphicon glyphicon-calendar"></i> January 1, 2014 | <a href="/edit/<%= @post.id %>">Edit</a> | <a href="/delete/<%= @post.id %>">Delete</a></p>
        <p><%= @post.content %></p>
      </div>
      <!-- /.blog-post -->
      